--swiftversion 5.7

# file options

--exclude .build

# format options

--ifdef no-indent
--indent 4
--extensionacl on-declarations
--patternlet inline
--self insert
--stripunusedargs closure-only
--wraparguments before-first

# rules

--disable andOperator
--disable blankLinesAroundMark
--disable wrapMultilineStatementBraces
